<p>Un administrateur vous à créer un compte avec l'email {{ utilisateur.email}}.</p>
<p>Afin de pouvoir accéder au back office, veuillez cliquer sur le lien suivant : <a href="{{ url|raw }}">{{ url|raw }}</a></p>
<p>Merci</p>